/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8895b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #656f85;
}
